body {
	background: url(..//img/background.jpg);
	background-size: 100%;
    font-family: Tahoma;
     }

/*  HEADER  */

.conteiner {
	margin: 0 auto;
	width: 1000px;
	height: 1010px;
	background-color: white;	
	font-family: Tahoma;
	-webkit-box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.75);
}

.header {
	height: 187px;
}


.logo {
	float: left;
	margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.contacts {
	float:right;
	margin-right: 30px;
	margin-top: 10px;
	color:#41A1B9;
}

.flag .countries {
   clear: right;
   position: relative;
   overflow:hidden;
   text-align: center;      
}

.flag ul {
   clear: right;
   float:right;
   list-style:none;
   margin-right: 30px;
}

.flag li {
   float: left;
   list-style: none;
   padding: 5px 10px 0px 2px;    
}

.countries ul {
	clear: right;
	float:right;
	margin: 0px 35px 4px 0px;
	list-style: none;
}

.countries li {
	float: right;
	text-decoration: underline;
	list-style: none;
	padding: 5px 10px 0px 8px;
}

.countries a {
    text-decoration: none;
    color: #41A1B9;
    font-size: 10px;
}

.blueLines {
	width: 100%;
	clear: both;
	border-bottom: solid 1px #138AA7;
	border-top: solid 1px #138AA7;	
	display: block;
}

/*  MAIN SECTION  */

.menu {
	position: relative;
    overflow: hidden;
    text-align: center;
    background: #353535;
    border-bottom: solid 1px #000;
   -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  }

  .menu:after {
  	content: '';
  	clear: both;
  	width: 100%;
  	height: 0;
  }

.menu ul,
.submenu ul {
   height: 35px;
   float:left;
   list-style-type: none;
}

.menu li {	
    float: left;
    list-style: none;
    padding: 1px 35px;
    margin: auto;
    cursor: pointer;
    position: relative;      
}

.menu li a {
   color: white;
   text-decoration: none;
   line-height: 30px;
   font-size: 14px;
}

.submenu {
	display: none;
	position: absolute;
	left: 0;
	top: 10px;
	margin: 0;
	width: 100px;
	background: #323232;
	border: 1px solid #323232;
}

.submenu li{
	float: left; /* новое добавила*/
	display: none; /* новое добавила*/
	background: #323232;
	border-bottom: 1px solid #CCC;	
}

.menu li:hover .submenu {
	display: block;
	z-index:1;
}



.fon {
    width: 1000px; 
	float: left; 
	background-color: white;
	overflow: hidden;
	z-index: 0;
}

h2 {
	color: #474d45;
	text-align: center;
	padding: 10px 0;
	font-family: Tahoma regular;
	font-size: 18px;	
}

.leftColumn {
width: 200px;
float: left;
background: #EDEEF0;
padding-bottom: 20000px;
margin-bottom: -20000px;
overflow: hidden;
border-right: 1px solid #C7C9CE;
}

.leftColumn p,
.rightColumn p {
	padding: 0px 20px;
	line-height: 24px;
	overflow: hidden;
	font-family: Tahoma regular Arial;
	font-size: 14px;
	color: #474d45;
	white-space: nowrap;
}

.centerColumn {
float: left;
padding-bottom: 20000px;
margin-bottom: -20000px;
z-index:0;
}

.rightColumn {
width: 200px;
float: right;
background-color: #E1E1E1;
padding-bottom: 20000px;
margin-bottom: -20000px;
border-left: 1px solid #C7C9CE;
}

/*  FOOTER  */

footer {
	clear: both;
	height:35px;
}

footer p {
	padding: 10px 0;
	font-family: Tahoma regular Arial;
	font-size: 12px;
	color: #fff;
	text-align: center;
}